WebApplication/Service References/CarServiceReference/CarService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CarService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2113/CarService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2113/CarService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2113/CarService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfServices" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICarService_getAllCars_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllCars" />
  </wsdl:message>
  <wsdl:message name="ICarService_getAllCars_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllCarsResponse" />
  </wsdl:message>
  <wsdl:message name="ICarService_getCar_InputMessage">
    <wsdl:part name="parameters" element="tns:getCar" />
  </wsdl:message>
  <wsdl:message name="ICarService_getCar_OutputMessage">
    <wsdl:part name="parameters" element="tns:getCarResponse" />
  </wsdl:message>
  <wsdl:message name="ICarService_addCar_InputMessage">
    <wsdl:part name="parameters" element="tns:addCar" />
  </wsdl:message>
  <wsdl:message name="ICarService_addCar_OutputMessage">
    <wsdl:part name="parameters" element="tns:addCarResponse" />
  </wsdl:message>
  <wsdl:message name="ICarService_updateCar_InputMessage">
    <wsdl:part name="parameters" element="tns:updateCar" />
  </wsdl:message>
  <wsdl:message name="ICarService_updateCar_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateCarResponse" />
  </wsdl:message>
  <wsdl:message name="ICarService_deleteCar_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteCar" />
  </wsdl:message>
  <wsdl:message name="ICarService_deleteCar_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteCarResponse" />
  </wsdl:message>
  <wsdl:portType name="ICarService">
    <wsdl:operation name="getAllCars">
      <wsdl:input wsaw:Action="http://tempuri.org/ICarService/getAllCars" message="tns:ICarService_getAllCars_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICarService/getAllCarsResponse" message="tns:ICarService_getAllCars_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getCar">
      <wsdl:input wsaw:Action="http://tempuri.org/ICarService/getCar" message="tns:ICarService_getCar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICarService/getCarResponse" message="tns:ICarService_getCar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addCar">
      <wsdl:input wsaw:Action="http://tempuri.org/ICarService/addCar" message="tns:ICarService_addCar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICarService/addCarResponse" message="tns:ICarService_addCar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateCar">
      <wsdl:input wsaw:Action="http://tempuri.org/ICarService/updateCar" message="tns:ICarService_updateCar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICarService/updateCarResponse" message="tns:ICarService_updateCar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteCar">
      <wsdl:input wsaw:Action="http://tempuri.org/ICarService/deleteCar" message="tns:ICarService_deleteCar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICarService/deleteCarResponse" message="tns:ICarService_deleteCar_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICarService" type="tns:ICarService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getAllCars">
      <soap:operation soapAction="http://tempuri.org/ICarService/getAllCars" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCar">
      <soap:operation soapAction="http://tempuri.org/ICarService/getCar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addCar">
      <soap:operation soapAction="http://tempuri.org/ICarService/addCar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateCar">
      <soap:operation soapAction="http://tempuri.org/ICarService/updateCar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteCar">
      <soap:operation soapAction="http://tempuri.org/ICarService/deleteCar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CarService">
    <wsdl:port name="BasicHttpBinding_ICarService" binding="tns:BasicHttpBinding_ICarService">
      <soap:address location="http://localhost:2113/CarService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>